/* Phone screen */

/* Tablet screen */
@media screen and (min-width: 560px) {
}

/* Desktop screen*/
@media screen and (min-width: 768px) {
  .contact {
    margin-bottom: 10%;
  }

  .contact img {
    max-width: 100%;
  }
  .contact button {
    margin-left: 2.5%;
    margin-top: 32%;
    width: 20%;
    position: absolute;
    font-size: 1.4em;
    font-family: Roboto;
  }
}

/* Big desktop*/
@media screen and (min-width: 1024px) {
}

/* XL desktop */
@media screen and (min-width: 1280px) {
}
