/* Phone screen */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.footer-container h2 {
  font-size: 2.1em;
  margin-top: 10%;
  margin-left: 4.5%;
}

.footer-container h2 {
  color: white;
  margin-top: 10%;
  margin-left: 4.5%;
}

.footer-container p {
  font-size: 1em;
  color: white;
  margin-left: 4.5%;
  margin-top: 3%;
}

.icons-wrapper {
  margin-top: 4%;
  margin-bottom: 5%;
  margin-left: 4.5%;
}

/* Tablet screen */
@media screen and (min-width: 560px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }
}

/* Desktop screen*/
@media screen and (min-width: 768px) {
  .footer-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }
  .footer-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 2.5%;
    padding: 2%;
  }
  .icons-wrapper {
    display: flex;
  }
  .icons {
    padding-right: 3%;
  }
}

/* Big desktop*/
@media screen and (min-width: 1024px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }
  .footer-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }
}

/* XL desktop */
@media screen and (min-width: 1280px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }
  .footer-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }
}
