/* Phone screen */

.hero {
  background-image: url(/images/HERO-mobile.png);
  height: 70vh;
}

@media screen and (min-width: 1024px) {
  .hero {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/HERO2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
