* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  background-color: black;
}
/* Phone screen */
@media screen and (max-width: 560px) {
  .hero {
    background-image: url(/images/HERO-mobile.png);
    height: 200px;
  }
}

/* Tablet screen */
.hero {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/HERO2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Desktop screen */
.hero {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/HERO2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 1px solid white;
}
