/* Phone screen */

.column {
  margin-top: 10%;
  margin-bottom: 15%;
}

.column img {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  border-bottom: 1px white solid;
}

/* Tablet screen */
@media screen and (min-width: 560px) {
  .column {
    margin-bottom: 10%;
  }

  /* CSS LAB section  */
  .lab-wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    padding: 0%;
    margin-top: 5%;
  }
}

/* Desktop screen*/
@media screen and (min-width: 768px) {
  .column {
    margin-bottom: 0%;
  }

  .column img {
    width: 100%;
    height: 100%;
    border-bottom: none;
  }
}

/* Big desktop*/
@media screen and (min-width: 1024px) {
  .info-wrapper {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }

  .info-wrapper .column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }

  .column img {
    width: 100%;
    height: 100%;
  }
  .info-wrapper h2 {
    padding-bottom: 3%;
  }
  .info-wrapper p {
    padding-top: 6%;
  }
}
/* XL desktop */
@media screen and (min-width: 1280px) {
  .info-wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }
  .info-wrapper .column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }

  .column img {
    width: 100%;
    height: 100%;
  }
  .info-wrapper h2 {
    padding-bottom: 3%;
  }
  .info-wrapper p {
    padding-top: 6%;
  }
}
