/* Phone screen */
.lab-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  padding: 0%;
  margin-top: 5%;
}

.lab img {
  width: 100%;
  height: 90%;
}

.lab-content img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.lab {
  height: fit-content;
}

.lab p {
  margin-top: -3%;
  display: none;
}

button {
  height: 60px;
  margin-bottom: 40px;
}

/* Tablet screen */
@media screen and (min-width: 560px) {
}

/* Desktop screen*/
@media screen and (min-width: 768px) {
  .lab-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    padding: 0%;
    margin-top: 5%;
  }
  .lab-wrapper .lab {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .lab-wrapper .lab img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;
  }

  .lab-content {
    position: relative;
  }
  .img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(91, 229, 140, 0.5);
  }
  .lab-content:hover .img-hover {
    display: block;
  }

  button {
    height: 14%;
    font-size: 1.2em;
  }
}

/* Big desktop*/
@media screen and (min-width: 1024px) {
  button {
    height: 11.5%;
    font-size: 1.2em;
  }

  .lab-content img {
    height: 420px;
    width: 100%;
    object-fit: cover;
  }
}
/* XL desktop */
@media screen and (min-width: 1280px) {
  button {
    height: 6.5%;
    font-size: 1.2em;
  }
}
