/* LAB-section */
.lab-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.lab img {
  width: 100%;
  height: 100%;
  display: none;
}

/* Phone screen */
@media screen and (max-width: 560px) {
  .column {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .column img {
    width: 100%;
    height: 100%;
  }
}

/* Tablet screen */
@media screen and (min-width: 560px) {
  .column {
    margin-bottom: 10%;
  }
}

/* Desktop screen*/
@media screen and (min-width: 768px) {
  .column {
    margin-bottom: 0%;
  }

  .column img {
    width: 100%;
    height: 100%;
  }
}

/* Big desktop*/
@media screen and (min-width: 1024px) {
  .info-wrapper {
    display: flex;
    flex-direction: row;
    flex: 50%;
  }

  .info-wrapper .column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }

  .column img {
    width: 100%;
    height: 100%;
  }
  .info-wrapper h2 {
    padding-bottom: 3%;
  }
  .info-wrapper p {
    padding-top: 6%;
  }
}

/* XL desktop */
@media screen and (min-width: 1280px) {
  .info-wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-bottom: 5%;
  }

  .info-wrapper .column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }

  .column img {
    width: 100%;
    height: 100%;
    /*     margin-left: 15%;
 */
  }
  .info-wrapper h2 {
    padding-bottom: 3%;
  }
  .info-wrapper p {
    padding-top: 6%;
  }
}

/* ------ LAB SEKTION SOM SKA STRUKTURERAS */

@media screen and (min-width: 768px) {
  /* LAB-section in desktop */
  .lab-wrapper {
    display: grid;
    grid-template-columns: (1fr 1fr 1fr);
    padding: 0%;
  }
  .lab-wrapper .lab {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .lab-wrapper .lab img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;
  }
}
