@font-face {
  font-family: BNGrimer;
  src: url("/fonts/BNGrimer.otf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

h1 {
  font-family: BNGrimer;
  font-size: 90px;
  color: white;
  position: absolute;
  z-index: 10;
  margin-top: 64px;
  margin-left: 64px;
}

h2 {
  color: #cfee4d;
}
h3 {
  color: white;
}
p {
  color: white;
}

p {
  font-size: 24px;
  font-family: Roboto;
  color: white;
  position: absolute;
  margin-top: 244px;
  margin-left: 64px;
  z-index: 10;
}
