/* All fonts being used in this project */
@font-face {
  font-family: BNGrimer;
  src: url("/fonts/BNGrimer.otf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

/* Global typography - applies to all screens*/
h1 {
  font-family: BNGrimer;
  color: white;
  position: absolute;
  z-index: 10;
}

h2 {
  font-family: BNGrimer;
  color: #cfee4d;
}

p {
  font-family: Roboto;
  font-size: 24px;
  color: white;
}

/* Phone screen */
@media screen and (max-width: 560px) {
  h1 {
    font-size: 2.2em;
    margin-top: 35%;
    margin-left: 5%;
    z-index: 10;
  }

  p {
    font-family: Roboto;
    font-size: 16px;
    margin-top: 55%;
    margin-left: 5%;
  }
}

/* Tablet screen */
@media screen and (min-width: 560px) {
  h1 {
    font-family: BNGrimer;
    font-size: 2.6em;
  }
}

/* Desktop screen*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.3em;
    margin-top: 15%;
    margin-left: 2.5%;
  }

  h2 {
    font-size: 70px;
  }

  p {
    font-size: 1.5em;
  }

  .hero p {
    margin-top: 35%;
    margin-left: 2.6%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5em;
    margin-top: 11%;
  }

  .hero p {
    margin-top: 27%;
    margin-left: 2.8%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 5em;
    margin-top: 11%;
  }

  .hero p {
    margin-top: 22%;
    margin-left: 2.8%;
    font-size: 1.2em;
  }
}
