@font-face {
  font-family: BNGrimer;
  src: url("/fonts/BNGrimer.otf");
  font-weight: normal;
}

h1 {
  font-family: BNGrimer;
  font-size: 90px;
  color: white;
  position: absolute;
  z-index: 10;
  margin-top: 64px;
  margin-left: 64px;
}
